.header__items {
  display: flex;
  justify-content: space-between;
  .nav__links ul{
    width: max-content;
    }
  .nav__links ul li {
    display: inline-block;
    margin: 1rem;
    font-weight: 100;
    opacity: .8;
    cursor: pointer;
    @media(max-width: 800px){
      margin: .3rem;
      font-size: .9rem;
    }
    &:hover{
      color: $blue;
    }
  }
}
@media (max-width: 400px) {
  .logo{
    width: 70%;
    margin: 0;
  }
  // .logo_header{
  //   width: 70%;
  // }
  
}