.main_content {
  display: flex;
  h1 {
    font-size: 2.8rem;
    line-height: 3.7rem;
    margin-top: 4.5rem !important;
  }
  .main_content_items {
    line-height: 1.9rem;
    font-size: 20px;
    margin-top: 1rem;
  }
  .main_img{
    width: 100%;
    height: 100%
  }
  .email {
    @include input;
  }
  button {
  @include button;
  }

  .error_email {
    color: #fa4d41;
    font-size: 0.7rem;
  }
  .error{
    border-color: #fa4d41;
  }
}
