.productive{
    .product-img{
        width:100%;
        margin-bottom: -1.5rem;
    }
    .productive_content{
        background-color: $light-blue ;
        margin-top: 0;
        display: flex;
    }
}
