@mixin input(){
    padding: 0.7rem !important; 
    padding-bottom: 0;
    margin: 2rem 0.5rem 0.5rem 0 !important;
    width: 40%;
    border: 1px solid $border-color;
}

@mixin button(){
    padding: 0.8rem 3.5rem;
    background-color: $blue;
    border: none;
    border-radius: 3px;
    color: hsl(240, 75%, 98%);
    cursor: pointer;
    &:hover{
        background-color: hsl(224, 93%, 70%);
        border-color: hsl(224, 93%, 70%);
    }
}