$light-blue:  #f8f8fe;
$border-color: #474747;
$blue: hsl(224, 93%, 58%);
$green: hsl(170, 45%, 43%);
$moderateCyan: hsl(170, 45%, 63%);
$desaturatedBlue: hsl(238, 22%, 44%);
$darkBlue: hsl(243, 87%, 12%);